body {
    background-color: #c7b39b;
}

h1 {
  color: #a52a2a;
  font-size: 40px;
  font: Georgia;
}

h3 {
  color: white;
  font-size: 18px;
  font: Arial;
}

button {
    background-color: #f44336;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    font-size: 18px;
}

input[type=text], [type=date], textarea, select {
  width: 100%;
  padding: 5px;
  border: 1px solid;
  border-radius: 4px;
}

input [type=checkbox] {
   border:2px dotted #00f;
   display:block;
   background:#ff0000;
 }
